@page
@model tbkkData.Pages.RedWall.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Rival</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rival.RivaID" />
            <div class="form-group">
                <label asp-for="Rival.Name" class="control-label"></label>
                <input asp-for="Rival.Name" class="form-control" />
                <span asp-validation-for="Rival.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rival.Address" class="control-label"></label>
                <input asp-for="Rival.Address" class="form-control" />
                <span asp-validation-for="Rival.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rival.Email" class="control-label"></label>
                <input asp-for="Rival.Email" class="form-control" />
                <span asp-validation-for="Rival.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rival.Telephone" class="control-label"></label>
                <input asp-for="Rival.Telephone" class="form-control" />
                <span asp-validation-for="Rival.Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
